@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Somos una empresa de dearrollo de software </p>
    <p>Nos especializamos en Desarrollo web y móvil </p>
</main>